html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  margin-top: 40px;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

p {
  margin-top: 30px;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}

ul {
  margin-top: 20px;
  font-size: 16px;
  color: #1a1a1a;
  padding-left: 20px;
}

li {
  margin-top: 10px;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: rgb(247, 247, 247);
  border-right: 1px solid #ececec;
}

#main-doc {
  position: absolute;
  margin: 40px 20px;
  top: 0;
  left: 360px;
  max-width: 700px;
}

#navbar ul {
  list-style: none;
  padding: 0;
}

#navbar li {
  padding-left: 15px;
}

#navbar a {
  text-decoration: none;
  color: #1a1a1a;
}

#navbar a:hover {
  color: rgb(109, 109, 109);
}

#navbar li:hover {
  padding-left: 10px;
  border-left: 5px solid rgb(109, 109, 109);
}

@media screen and (max-width: 1080px) {
  #navbar, #main-doc {
    position: static;
    width: 100%;
  }

  #navbar {
    display: grid;
    place-items: center;
    text-align: center;
  }
 
  #main-doc {
    overflow: auto;
    margin: 0 auto;
  }
  
  .main-section {
    margin: 0 20px;
  }

  #navbar ul {
    width: 300px;
    margin: inherit auto;
  }
}
